@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Green</h1>
    
</div>

<div class="row">
    <div class="alert alert-success">
        <strong>Confirmed: we have a change</strong>
    </div>

</div>