@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Blue</h1>
    
</div>

<div class="row">
    <div class="alert alert-info">
        <strong>Note this is just a sample</strong>
    </div>

</div>